.rate-content {
    display: block;
    margin: 30px auto;
    width: 60%;
}

.rate-content .logo {
    float: left;
}


.outer {
    background-color: rgb(177, 147, 206);
    padding: 30px 100px 30px 30px;
    border-radius: 20px;
}

.outer h6 {
    color: white;
}

.col-lg-4 img {
    margin-top: 140px;
}